.button {
  font-family: inherit;
  background-color: transparent;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px;

  border: 1px solid var(--white);
  border-radius: 5px;

  cursor: pointer;

  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.8;
  }
}

.button_black {
  color: var(--black);
  border: 1px solid var(--black);
}
