.comments {
  padding-bottom: 100px;
}

.comments__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comments__title {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
}

.comments__item {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
